@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: rgb(87, 87, 87);
} 

header > h1 {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    text-align: center;
}

span#burguer {
    background-color: rgb(56, 56, 56);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}

span#burguer:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(109, 106, 106);
    color: white;
    border-top: 2px solid rgb(187, 185, 185);
}

menu > ul > li > a:hover {
    background-color: rgb(172, 168, 168);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h1 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}