@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: 'Roboto';
    --fonte2: 'sriracha';
}

* {
    padding: 0;
    margin: 0;
    font-size: 1em;
}
html, body {
    min-height: 100vh;
    background-color: darkgray;
}

body {
    background-color: lightgray;
}

header {
    font-family: var(--fonte1);
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-size: 4.5vw;
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

section {
    font-size: 2.5vw;
    font-family: var(--fonte2);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(26, 25, 25);
    color: white;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(15, 15, 15, 0.616);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('../desafio12/imagens/background001.jpg');
    background-position: right center;


}

section#img02 {
   background-image: url('../desafio12/imagens/background002.jpg');
}


footer {
    font-family: var(--fonte1);
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
}