@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}
html, body {
    min-height: 100vh;
    background-color: darkgray;
}

body {
    background-color: lightgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(26, 25, 25);
    color: white;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
}