@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#F2E3D5 , #b89b80);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(133, 125, 117, 0.733);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
color:#012E40;
text-align: center;
text-shadow: 1px 1px 2px #3ca6a69d;
}
h2{
color: #026773;
}
h3{
color: #026773;
}
p{
    text-align: justify;
}
 
ul{
   list-style-type: disc; 
}